<div class="container form-style">
  <form #form = "ngForm">
      <label class = "col-lg-2 control-label"> College </label>
    <div class="form-group" [class.has-error] = "college.invalid && college.dirty">
      <input class="form-control demo" #college = "ngModel" type="text"  name="college" [(ngModel)]="book.college" required/> <br><br>
    </div>

    <label class = "col-lg-2 control-label" > Description </label>
      <div class="form-group" [class.has-error] = "description.invalid && description.dirty">
      <input class="form-control demo"  #description = "ngModel" type="text"  name="description" [(ngModel)]="book.description" required/> <br><br>
    </div>

    <label class = "col-lg-2 control-label"> Edition </label>
    <div class="form-group" [class.has-error] = "edition.invalid && edition.dirty" >
      <input class="form-control demo" #edition = "ngModel" type="text"  name="edition" [(ngModel)]="book.edition" required/> <br><br>
    </div>

    <label class = "col-lg-2 control-label"> Phone Number  </label>
    <div class="form-group " [class.has-error] = "phno.invalid && phno.dirty" >
      <input class="form-control demo" #phno = "ngModel"  type="text"  name="phno" [(ngModel)]="book.phno" required/> <br><br>
    </div>

    <label class = "col-lg-2 control-label"> Pin Code  </label>
    <div class="form-group" [class.has-error] = "pincode.invalid && pincode.dirty">
      <input class="form-control demo" #pincode = "ngModel"  type="text"  name="pincode" [(ngModel)]="book.pincode" required/> <br><br>
    </div>

    <label class = "col-lg-2 control-label"> Price  </label>
    <div class="form-group" [class.has-error] = "price.invalid && price.dirty">
      <input class="form-control demo" #price = "ngModel"  type="text"  name="price" [(ngModel)]="book.price" required/> <br><br>
    </div>

    <label class = "col-lg-2 control-label"> Address  </label>
    <div class="form-group" >
      <input class="form-control demo" [class.has-error] = "address.invalid && address.dirty" #address = "ngModel" type="text"  name="address" [(ngModel)]="book.address" required/> <br><br>
    </div>

    <label class = "col-lg-2 control-label"> Type of Book  </label>
    <div class="form-group" >
      <select class = "col-lg-10 form-control demo" [(ngModel)]="book.type" name="type" (change) = "changeFun(book.type)" required>
        <option default>select a book type ... </option>
        <option value="ALLINONE" >AllInOne</option>
        <option value="BOOK">Book</option>
      </select><br><br>
      <span *ngIf='showAllinOnediv'><div>
        <label class = "col-lg-2 control-label">yearsem</label>
        <input class = "col-lg-10 form-control demo"  type="text" name="yearsem" [(ngModel)]="book.yearsem" required/><br><br>
        <label class = "col-lg-2 control-label">branch</label>
        <input  class = "col-lg-10 form-control demo" type="text" name="branch" [(ngModel)]="book.branch" required/><br><br>
      </div></span><br><br>
      <span *ngIf='showBookdiv'>
        <div><label class = "col-lg-2 control-label">bookname</label>
          <input class = "col-lg-10 form-control demo" class = "form-control demo" type="text" name="bookname" [(ngModel)]="book.bookname" required/><br><br>
          <label class = "col-lg-2 control-label">Author</label>
          <input class = "form-control demo" type="text" name="author" [(ngModel)]="book.author" required/><br><br>
        </div></span>
      </div>

      <div class="form-group" >
        <label class = "col-lg-2 control-label">  Select Image </label>
        <input class = "col-lg-10 form-control demo" #fileInput type="file" required/><br><br>
      </div>
      <input type="submit" class="btn btn-success" name = "post" value="post" (click) ="submitPost()" [disabled]="form.invalid"/>
    </form>
  </div>
