<div bsModal #mdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <h4 class="modal-title" style="display: -webkit-inline-box;">Guess its exam time !</h4>
        <button type="button" class="close pull-right" (click)="mdModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6 loginRegTab" (click) = "logintab = true" [ngClass]="{tabActive: logintab == true}" >
                    <p    id="login-form-link" >Login</p>
                  </div>
                  <div class="col-xs-6 loginRegTab" (click) = "logintab = false" [ngClass]="{tabActive: logintab == false}" >
                    <p  id="register-form-link" >Register</p>
                  </div>
                </div>

                <hr>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div [ngSwitch]="logintab">
                      <div *ngSwitchCase=true>
                        <form id="login-form"  (ngSubmit)="custlogin()" #loginForm = "ngForm">
                          <div class="form-group" >
                            <input type="email"  id="emailid"  required [(ngModel)]="emailId" class="form-control" placeholder="Email Id"
                            name="emailid" #emailid = "ngModel" [ngClass] = "{'validLogin' : !(emailid.errors && (emailid.dirty || emailid.touched)) , 'invalidLogin' : (emailid.errors && (emailid.dirty || emailid.touched))}" >
                            <!-- <input type="email"  id="emailid"  required [(ngModel)]="emailId" class="form-control" placeholder="Email Id"
                            name="emailid" #emailid = "ngModel" [ngClass] = "{'validLogin' : !(emailid.errors && (emailid.dirty || emailid.touched)) , 'invalidLogin' : (emailid.errors && (emailid.dirty || emailid.touched))}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"> -->
                            <span *ngIf="emailid.errors && (emailid.dirty || emailid.touched)">
                              <span [hidden]="!emailid.errors.required" style="color:#c52b2b">
                                Email is required
                              </span>
                              <span [hidden]="!emailid.errors.pattern" style="color:#c52b2b">
                                Email is invalid
                              </span>
                            </span>
                            <!-- <pre>
                            {{emailid | json }}
                          </pre> -->
                        </div>

                        <div class="form-group">
                          <input type="password"  name="passwordval" #passwordval="ngModel"  id="password" required minlength="4"  [(ngModel)] ="password" class="form-control" placeholder="Password"
                          [ngClass] = "{'validLogin' : !(passwordval.errors && (passwordval.dirty || passwordval.touched)) , 'invalidLogin' : (passwordval.errors && (passwordval.dirty || passwordval.touched))}">
                          <span *ngIf="passwordval.errors && (passwordval.dirty || passwordval.touched)" >
                            <span [hidden]="!passwordval.errors.required" style="color:#c52b2b">password is required</span>
                            <span [hidden]="!passwordval.errors.minlength" style="color:#c52b2b">Enter minimum of 4 characters</span>
                          </span>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                              <input type="submit"  [disabled]="!loginForm.form.valid"   id="login-submit"  class="form-control btn btn-sm btn-submit" [ngClass] = "{'submitActive' : loginForm.form.valid}" >
                            </div>
                          </div>
                        </div>
                        <span *ngIf= "LoginFailed == true" style="color:red">
                          UserName and password did not match!
                        </span>
                        <!-- <div class="form-group">
                        <div class="row">
                        <div class="col-lg-12">
                        <div class="text-center">
                        <a href="#"  class="forgot-password">Forgot Password?</a>
                      </div> -->
                      <!-- </div> -->
                    </form>

                  </div>
                  <div *ngSwitchCase=false>
                    <form id="register-form" #regForm = "ngForm" (ngSubmit) ="saveCustomer()">
                      <div class="form-group">
                        <input type="text" name="username" #username="ngModel" id="username" autofocus="autofocus" required class="form-control" [(ngModel)] ="regUserName" placeholder="Username"
                        [ngClass] = "{'validLogin' : !(username.errors && (username.dirty || username.touched)) , 'invalidLogin' : (username.errors && (username.dirty || username.touched))}" >
                        <span *ngIf="username.errors && (username.dirty || username.touched)">
                          <span [hidden]="!username.errors.required" style="color:#c52b2b">
                            Name is required
                          </span>
                        </span>
                      </div>
                      <div class="form-group" >
                        <input type="email"  id="regEmailid"  required [(ngModel)]="regEmailId" class="form-control" placeholder="Email Id"
                        name="regEmailid" #regEmailid = "ngModel" [ngClass] = "{'validLogin' : !(regEmailid.errors && (regEmailid.dirty || regEmailid.touched)) , 'invalidLogin' : (regEmailid.errors && (regEmailid.dirty || regEmailid.touched))}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <span *ngIf="regEmailid.errors && (regEmailid.dirty || regEmailid.touched)">
                          <span [hidden]="!regEmailid.errors.required" style="color:#c52b2b">
                            Email is required
                          </span>
                          <span [hidden]="!regEmailid.errors.pattern" style="color:#c52b2b">
                            Email is invalid
                          </span>
                        </span>
                      </div>
                      <div class="form-group">
                        <input type="password"  name="regPasswordval" #regPasswordval="ngModel"  id="regPasswordval" required minlength="4"  [(ngModel)] ="regPassword" class="form-control" placeholder="Password"
                        [ngClass] = "{'validLogin' : !(regPasswordval.errors && (regPasswordval.dirty || regPasswordval.touched)) , 'invalidLogin' : (regPasswordval.errors && (regPasswordval.dirty || regPasswordval.touched))}">
                        <span *ngIf="regPasswordval.errors && (regPasswordval.dirty || regPasswordval.touched)" >
                          <span [hidden]="!regPasswordval.errors.required" style="color:#c52b2b">password is required</span>
                          <span [hidden]="!regPasswordval.errors.minlength" style="color:#c52b2b">Enter minimum of 4 characters</span>
                        </span>
                      </div>

                      <!-- <div class="form-group" name="ak" [ngClass] ="{'has-error': (regform.confirm_password.$dirty) && (Regpassword != confirm_password) && confirm_password.length > 0 } ">
                      <input type="password"  id="confirm-password" name="confirm_password"   class="form-control"  [(ngModel)] ="confirm_password"
                      placeholder="Confirm Password">
                    </div> -->

                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" [disabled] ="!regForm.form.valid" id="register-submit"  class="form-control btn btn-register"
                          [ngClass] = "{'submitActive' : regForm.form.valid}" >
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>
